#chat2 .form-control {
  border-color: transparent;
  }

  #chat2 .form-control:focus {
  border-color: transparent;
  box-shadow: inset 0px 0px 0px 1px transparent;
  }
  .float-right {
    float: right;
  }
  .icon {
    cursor: pointer;
    font-size: 24px;
  }

  .response-container {
    min-height: 400px;
    overflow-y: auto;
  }

  .divider:after,
  .divider:before {
  content: "";
  flex: 1;
  height: 1px;
  background: #eee;
  }
  .pading-0 {
    padding: 0!important;
  }

  .typewriter-container {
    font-size: 20px;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden; /* Hide overflowing text */
    border-right: 2px solid #000; /* Simulate the typing cursor */

    /* Optional: Animation for the typing cursor */
    animation: typing-cursor 0.7s steps(1) infinite;
  }

  @keyframes typing-cursor {
    0%, 100% { border-right: 2px solid transparent; }
    50% { border-right: 2px solid #000; }
  }
